      <div id="sidecontent">
        <h1>Company Portfolio</h1>
        <br />
        <a href="http://all-free-download.com/free-website-templates/"><img src="<%= image_path 'portfolioimg.gif' %>" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="<%= image_path 'portfolioimg.gif' %>" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="<%= image_path 'portfolioimg.gif' %>" alt="" /></a> <br />
        <br />
        <a href="http://all-free-download.com/free-website-templates/"><img src="<%= image_path 'portfolioimg.gif' %>" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="<%= image_path 'portfolioimg.gif' %>" alt="" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="<%= image_path 'portfolioimg.gif' %>" alt="" /></a> <br />
        <br />
        <a href="http://all-free-download.com/free-website-templates/">View full portfolio</a><br />
      </div>